nav .navbar-nav li a{
    color: 	rgb(165, 186, 254) !important;
    font-size: 25px;
    font-weight: 500;
    padding-left:70px;
    padding-right: 70px;
}

.logo-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: vissible;
    margin-top: -6px;
}

