@import url('https://fonts.googleapis.com/css?family=Poppins:700');


.page{
    position: relative;
    background-color: #ffffff;
    background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 20px,
    #d3dff0 1px,
    #d3dff0 21px
    );
    width: 100vw;
    height: 100vh;
    top :50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.leagueTitle{
  font-size: 1000%;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0vw;
  font-family: 'Poppins', sans-serif;
}

.yourWeek{
  font-size: 500%;
  text-align: left;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0vw;
  font-family: 'Poppins', sans-serif;

}

.league{
    position: absolute;
    left: 95%;
    width: 45%;
    height: 100%;
    -moz-transform: translateX(-95%);
    -webkit-transform: translateX(-95%);
    transform: translateX(-95%);
}

.table{
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


td,
th{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}


.headers,
.pos{
    text-align: center;
    background-color: #9fbce4;
    color:white;
}

tr td:last-child { 
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

tr td:first-child { 
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

tr th:last-child { 
    border-bottom-right-radius: 20px;
}

tr th:first-child { 
    border-bottom-left-radius: 20px;
}

.pos {
  color: #9fbce4;
  cursor: pointer;
  background: transparent;
  background-image: url('../../assets/waves.png');
  background-repeat: repeat-x;
  background-position: 0 60px;
  transition: 1.3s ease-in-out;
}
.pos:hover {
    background-position: 50% 10%;
    color: #ffffff;
    transform: scale(1.03);
}

.stats{
    display: block;
    position: absolute;
    left: 10%;
    top: 10%;
    height: 50%;
    width: 40%;
    -moz-transform: translateX(-10%) translateY(-10%) ;
    -webkit-transform: translateX(-10%) translateY(-10%);
    transform: translateX(-10%) translateY(-10%);
}

.lottie{
    position: fixed;
    height: 55%;
    left: 10%;
    top: 100%;
    -moz-transform: translateX(-10%) translateY(-100%) ;
    -webkit-transform: translateX(-10%) translateY(-100%);
    transform: translateX(-10%) translateY(-100%);
}

.image{
    height: 100%;
} 

    
    
