<div class = "page">
    <div class="league">
        <table class = "table">
            <tr class="headers">
                <th>Position</th>
                <th>Name</th>
                <th>Glasses Today</th>
                <th>Glasses This Week</th>
            </tr>
            <tr class="pos winner">
                <td>1</td>
                <td>Greg</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="pos second">
                <td>2</td>
                <td>Mr. Water</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="pos third">
                <td>3</td>
                <td>cheese</td>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr class="pos">
                <td>4</td>
                <td>ChickenLittle</td>
                <td>2</td>
                <td>1</td>
            <tr class="pos">
                <td>5</td>
                <td>Tyrone</td>
                <td>2</td>
                <td>1</td>
            </tr>         
        </table>
    </div>

    <div class = "stats">
        [SOME SIMPLE PERSONAL STATS]
    </div>

    <div class = "lottie">
        [LOTTIE ANIMATION]
    </div>



</div>
