
<div class = "water">
<div class="blob1">
    <svg width="500" height="400" viewBox="0 0 564 580" xmlns="http://www.w3.org/2000/svg">
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
        <feBlend in2="goo" in="SourceGraphic" result="mix" />
      </filter>
     <circle class="blob1" cx="440" cy="250" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/>
    </svg>
</div>
<div class = "blob2">
    <svg width="400" height="300" viewBox="0 0 703 676" xmlns="http://www.w3.org/2000/svg">
        <defs>
           <filter id="goo">
             <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
             <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
             <feBlend in2="goo" in="SourceGraphic" result="mix" />
           </filter>
          </defs>
          <circle class="blob1" cx="440" cy="250" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/>
    </svg>
</div>
</div>
    

  <h1 class ="focus">flocus</h1>
