@import url('https://fonts.googleapis.com/css?family=Poppins:700');

h1 {
  color: white;
  font-size: 1000%;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 10vw;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.blob1 {
  position: absolute;
  top: 0;
  left: 0;
  fill: #9fbce4;
  animation: blob1saunter 12s infinite ease-in-out;
  transform-origin: 50% 50%;
  -webkit-filter: url("#goo");
	filter: url("#goo");
}

.blob2 {
  position: absolute;
  top: 50%;
  left: 70%;
  fill: #9fbce4;
  animation: blob2saunter 12s infinite ease-in-out;
  transform-origin: 50% 50%;
  -webkit-filter: url("#goo");
	filter: url("#goo");
}


@keyframes blob1saunter {
  0%   { transform: scale(1) translate(10%, -70%); }
  40%  { transform: scale(1.2) translate(200%, 70%) rotate(160deg); }
  80%  { transform: scale(0.8) translate(-20%, 100%) rotate(-20deg); }
  100% { transform: scale(1) translate(10%, -70%); }
}

@keyframes blob2saunter {
  0%   { transform: scale(1) translate(-10%, 70%); }
  40%  { transform: scale(0.8) translate(-200%, -70%) rotate(160deg); }
  80%  { transform: scale(1.2) translate(0%, -50%) rotate(-20deg); }
  100% { transform: scale(1) translate(-10%, 70%); }
}


.focus{
  position:absolute;
  top:50%;
  left:50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}