
<div class = "contain">
    <div class = "flocus">
        <div class = "holder">
            <h3>About FLOCUS</h3>
            <p>FLOCUS is a single-page application that aims to combat procrastination from students working on devices amongst friends while raising awareness for the critical world issue of water accessibility. Our application uses a glass filling up as a visual aid as people work following the principles of the Pomodoro technique of an interval for work followed by a break. In this break, users will have the opportunity to learn more about water accessibility and Asaqua, a charity that is working to improve water accessibility in Africa.
            The application will display how much work their friends have done to further encourage good studying practices, thus improving overall productivity and increasing us of our application.
            Our aim is simple: combat procrastination and raise awareness for water accessibility one glass at a time!
            </p>
        </div>
    </div>

    <div class = "asaqua">
        <h3>About Asaqua</h3>
        <p>Asaqua is dedicated to solving the water crisis in underdeveloped countries by offering an affordable rainwater harvesting solution. We believe our water tanks can facilitate clean water accessibility in rural villages.Asaqua collaborates with committed locals, NGOs, and research institutes and strives for a sustainable future for our next generation.
        Our vision is a world where no kid has to trudge miles every day to fetch water, and every individual has the access to clean water.
        </p>
    </div>

    <div class = "how">
        <div class = "holder">
            <h3 class ="howHeader">How to use FLOCUS?</h3>
            <ul>
                <p class = point>1. Sign in via Facebook plugin.</p>
                <p class = point>2. Select how long you'd like to study for and the break time you would like.</p>
                <p class = point>3. Start working with the webpage open. Your glass will start to fill.</p>
                <p class = point>4. When your glass is full, take a break and learn more about Asaqua, the charity we've partnered with to raise awareness and funds for solving the water accessibility issue in developing nations.</p>
                <p class = point>5. See your statistics and compare your work progress compared to your peers.</p>
            </ul>
        </div>
    </div>
</div>