
<div class = "contain">
    <a class="nav-link" routerLink="/home">HOME</a>
    <div class = "flocus">
            <h3 class = "flh3">FLOCUS?</h3>
            <p>FLOCUS is a single-page application that aims to combat procrastination while raising awareness for the critical world issue of water accessibility. Our application uses a glass of water as a visual aid and follows the principles of the Pomodoro technique, allowing students to work on short but highly productive sessions whilst also encouraging time for a break. In this break, users will have the opportunity to learn more about water accessibility and Asaqua, a charity that is working to improve water accessibility in Africa.
            The application will display how much work your friends have done to further encourage good studying practices, thus improving overall productivity.
            </p>
            <p class = "aim">
            Our aim is simple: combat procrastination and raise awareness for water accessibility one glass at a time!
            </p>
    </div>

    <div class = "asaqua">
        <h3>About</h3>
        <h3>Asaqua</h3>
        <p>
            Asaqua is dedicated to solving the water crisis in underdeveloped countries by offering an affordable rainwater harvesting solution. Asaqua collaborates with committed locals, NGOs, and research institutes and strives for a sustainable future for our next generation.
        </p>
        <p>
            "Our vision is a world where no child has to trudge miles every day to fetch water, and every individual has access to clean water. We believe our water tanks can facilitate clean water accessibility in rural villages." Click on the link below to learn more about some of the fantastic work Asaqua is doing in Uganda.
        </p>
        <a href ="https://asaqua-water.com">Visit Asaqua</a>
    </div>

    <div class = "how">
        <div class = "holder">
            <h3 class ="howHeader">How to use FLOCUS:</h3>
            <ul>
                <p class = point>1. Sign in via Facebook</p>
                <p class = point>2. Invite your friends to collaborate and compete</p>
                <p class = point>3. Visit the study area and turn on the tap to begin your session</p>
                <p class = point>4. When your glass is full, take a break and learn more about Asaqua, the charity we've partnered with to raise awareness and funds for solving the water accessibility issue in developing nations</p>
                <p class = point>5. See your statistics and compare your work progress with your peers</p>
            </ul>
        </div>
    </div>

    <img class = "LOGO" src = "../../assets/images/FLOCUS_LOGO.png" alt="OWLBRO">
</div>
