html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

div {
  height: 100%;
  float: left;
}

#div1 {
  background: rgb(66, 85, 170);
}

#div2 {
  background: rgb(80, 97, 168);
}

#div3 {
  background:rgb(80, 97, 160);
}

#div4 {
  background: rgb(80, 97, 153);
}
#div5 {
  background: white;
}
  
#div6 {
 background:rgb(80, 97, 120);
}
  
#div7 {
  background: rgb(80, 97, 110);
}
  
#div8 {
  background: rgb(80, 97, 105);
}

#div9 {
  background: rgb(80, 97, 100);
}

