<!--
<mdb-navbar SideClass="navbar navbar-dark indigo lighten-3">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <img src="assets/images/LOGO.png" width="130" height="130" alt="">
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="button" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Contact</a>
            </li>
        </ul>
    </links>
</mdb-navbar> 

<mat-toolbar color="primary">
    <div>
        <mdb-navbar-brand>
            <a class="navbar-brand navbar-fixed-top pull-sm-left"  href="#" >
                <img src="assets/images/imageonline-co-whitebackgroundremoved.png" width="130" height="130" alt="">
            </a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="button" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect>Contact</a>
                </li>
            </ul>
        </links>
    </div>
</mat-toolbar> -->


<div class="container">
    <ul class="navbar-nav">
    <li class="nav-items">
        <a class="nav-link" href="/study">STUDY</a>
        <a class="nav-link" href="#">LEAGUE</a>
        <a class="nav-link" href="#">STATS</a>
        <a class="nav-link" href="/login">LOGIN</a>
        <a class="nav-link" href="#">ASAQUA</a>
    </li>
    </ul>
</div>



