@import url('https://fonts.googleapis.com/css?family=Poppins:700');


.container{
  position: relative;
  top:-10%;
  left:41%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 20%;
}

.navbar-nav{
  position: absolute;
  text-align: right;
}

.nav-link{
  margin: -5vw;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 650%;
  text-transform: uppercase;
  color: #9fbce4;
}

a:hover{
  transform: translateX(-3%);
  color: #5c82b8;
}




















  .logo-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: vissible;
    margin-top: -6px;
}
  
  
  
