@import url('https://fonts.googleapis.com/css?family=Poppins:700');


.container{
  position: fixed;
  top:50%;
  left:100%;
  -moz-transform: translateX(-100%) translateY(-50%);
  -webkit-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%);
  height: 600px;
  width: 500px;
}

.navbar-nav{
  position: absolute;
  text-align: right;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.nav-link{
  margin: -5vh;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  color: #9fbce4;
}

a:hover{
  transform: translateX(-3%);
  color: #5c82b8;
}
