@import url('https://fonts.googleapis.com/css?family=Poppins:700');

.wrapper{
	position: relative;
	top:0%;
	left:0%;
	width: 100vw;
	height: 100vh;
}

h1 {
  color: white;
  font-size: 1000%;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 5vw;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  position:absolute;
  top:50%;
  left: 10%;
  -moz-transform: translateX(-10%) translateY(-50%);
  -webkit-transform: translateX(-10%) translateY(-50%);
  transform: translateX(-10%) translateY(-50%);
}

.loading_cont {
	width: 100%;
	height: 100%;
	background: white;
	position: relative;
	overflow:hidden;
}

#loader {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 overflow:hidden;
	 top:50%;
	 left: 50%;
	 -moz-transform: translateX(-50%) translateY(-50%);
     -webkit-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
}
   
.blobs {
	-webkit-filter: url("#goo");
	-moz-filter:url("#goo");
	filter: url("#goo");
	position: absolute;
}
   
.blob1,
.blob2,
.blob3,
.blob4,
.blob5, 
.blob6{
	fill: #9fbce4;
	position:relative;
}

.blob3{
	animation: wobble 20s infinite;
}

.blob2{
   animation: wobbleWobble 60s infinite;
}

.blob6{
	animation: wobbleWobblewobble 60s infinite;
}

@keyframes wobble{
	0% {transform: translate(0%, 0%); }
	50% {transform: translate(-10%, -5%); }
	100% {transform: translate(0%, 0%);}
}

@keyframes wobbleWobble{
	0% {transform: translate(0%, 0%); }
	33% {transform: translate(55%, 6%); }
	66% {transform: translate(-45%, 8%);}
	100% {transform: translate(0%, 0%);}
}

@keyframes wobbleWobblewobble{
	0% {transform: translate(0%, 0%); }
	50% {transform: translate(10%, -6%); }
	100% {transform: translate(0%, 0%);}
}
