
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}


.left {
  left: 0;
  background-color: white;
}


.right {
  right: 0;
  background-color:rgb(215, 234, 246);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login {
  background-color: RGB(24, 119, 242);
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}


.fa-facebook-f {
  padding: 18px;
  font-size: 35px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
  background: #3B5998;
  color: white;
}

.arrow{
  height: 20%;
  position:absolute;
  transform: rotate(-120deg);
  top: 60%;
  left:45%;
}

.glass{
  height:10%;
  position:absolute;
  transform: rotate(-20deg);
  top: 10%;
  left:10%;
}

.time{
  height:7%;
  position:absolute;
  transform: rotate(20deg);
  top: 35%;
  left:37%;
}

.click{
  height:10%;
  position:absolute;
  top: 77%;
  left:9%;
}




  