
<div class = "contain">
  <div class="split left">
        <img class="arrow" src = "../assets/login/arrow.png">
        <img class="glass" src = "../assets/login/One-glass.png">
        <img class="time" src = "../assets/login/at-a-time.png">
        <img class="click" src = "../assets/login/click.png">
      <div class="centered">
        <a href="https://flocus.herokuapp.com/auth/facebook" class="facebook">
          <img class = "fb_logo" src = "../assets/images/facebook.logo.png">
          <div class = "continue">Continue with Facebook</div>
        </a>
    </div>
    </div>
    
    
    <div class="split right">
      <div class = "info">
        <h3 class = "flocus_header">WELCOME TO FLOCUS!</h3>
        <p class = "text" >We are more than just a procrastination prevention tool ... Join up with facebook to help us fight water scarcity, one glass at a time!</p>
      </div>
      <div class="centered">
        <lottie-player src="../assets/login/Login-guy.json"
          background="transparent"
          speed="1"
          loop
          style="width: 100%"
          autoplay >
        </lottie-player>
      </div>
  </div>
</div>
